<!DOCTYPE html>
<html lang="en" ng-app="todos">
<head>
    <meta charset="utf-8" />
    <title>OST Todos</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render( "~/Content/bootstrap/css/bundle" )
    @Styles.Render( "~/Content/css" )
</head>
<body ng-cloak>
    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a href="/#login" navbar-brand-link="navbar-brand-link" class="navbar-brand">
                    <img src="~/Content/img/OST-Logo.png" class="img-responsive" /></a>
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                    <span class="glyphicon glyphicon-bar"></span>
                    <span class="glyphicon glyphicon-bar"></span>
                    <span class="glyphicon glyphicon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav pull-right navbar-nav">
                    <li ng-hide="isLoggedIn()"><a class="btn navbar-btn" href="/#login">Login</a></li>
                    <li ng-hide="isLoggedIn()"><a class="btn navbar-btn" href="/#register">Register</a></li>
                    <li><a class="btn navbar-btn" ng-show="isLoggedIn()" href="#" ng-click="logout()">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" ng-view="ng-view">
        @RenderBody()
    </div>

    <footer class="container">
        <p><a href="http://www.ostusa.com/app-dev" target="_blank">OST</a> © 2013 v.final</p>
    </footer>

    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/bootstrap" )
    @Scripts.Render( "~/bundles/angular" )
    @Scripts.Render( "~/bundles/app" )
    @RenderSection( "scripts", required: false )
</body>
</html>
